#container {
	margin-top: 35px;
	background: #fff;
	height: 100%;
	padding: 20px;
}

h1 {
	font-size: 33.75px;
	font-weight: normal;
	line-height: 1.2em;
}

h1 small {
	font-weight: small;
}

.gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery ul > li {
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
	margin: 2px;
	border: 2px solid #333;
}

.gallery ul > li > :first-child {
	display: block;
	position: relative;
}

.gallery ul > li .tags {
	direction: rtl;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.9;
	overflow: visible;
}

.gallery ul > li .tags > .label {
	display: table;
	margin: 1px 1px 0 0;
	direction: ltr;
	text-align: left;
}