<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Orlando Tech - {{ page.title }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

		<!-- Bootstrap Styles -->
		<link rel="stylesheet" type="text/css" href="/assets/components/bootswatch/flatly/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/components/bootstrap/docs/assets/css/bootstrap-responsive.css">

		<!-- App Styles -->
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

		<!-- jQuery -->
		<script src="/assets/components/jquery/jquery.min.js"></script>
	</head>
	<body>
		<div class="mainnav navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Orlando Tech</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="/">Home</a></li>
							<li><a href="/meetup/">Meetup</a></li>
							<li><a href="/groups/">Groups</a></li>
							<li><a href="/forum/">Forum</a></li>
							<li><a href="/made-in/">Made In</a></li>
							<li><a href="/blog/">Blog</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container" id="container">
			<div class="row-fluid">
				<div class="main span12">
					{{ content }}
				</div>
			</div>
		</div>

		<!-- Bootstrap -->
		<script src="/assets/components/bootstrap/docs/assets/js/bootstrap.min.js"></script>

		<!-- App Scripts -->
		<script src="/assets/js/app.js"></script>
	</body>
</html>
